<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addPostForm()">
    <form-post [post]="post" [buttonName]="buttonName" [loading]="loading"></form-post>
  </form>
  <br>
  <br>

  <ion-spinner *ngIf="waiting"></ion-spinner>

  <br>

  <ion-list>
    <ion-item *ngFor="let post of postList">
      <!-- Generated template for the PostComponent component -->
        Affichage d'un Post
        <ion-card>
          <ion-card-header>
            {{post.titre}}
          </ion-card-header>

          <ion-card-content>
            {{post.texte}} <br>
            Auteur : {{post.user.username}}

            <button float-right ion-button color="danger" float-end ion-button (click)="deletePost(post)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button float-right ion-button (click)="editPost($event, post.id)">
              <ion-icon name="create"></ion-icon>
            </button>
            <ion-card *ngFor="let com of post.comments">
              {{com.texte}}

            </ion-card>
            <ion-card>
              <!--<form (ngSubmit)="addComForm()">
                <ion-label>Commentaire</ion-label>
                <ion-input type="text" [(ngModel)]="mycom.texte" name="texte"></ion-input>
                <button ion-button type="submit" block>Ajouter</button>
              </form>-->
            </ion-card>

           </ion-card-content>

         </ion-card>



       <!--<post [post]="post"></post>-->

    </ion-item>
  </ion-list>
</ion-content>
