<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List Offline</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="waiting"></ion-spinner>

  <br>

  <ion-list>
    Affichage d'un Post Offline
    <ion-card *ngFor="let post of postList">
          <ion-card-header>
            {{post.titre}}
          </ion-card-header>

          <ion-card-content>
            {{post.texte}} <br>
            Auteur : {{post.user.username}}

            <button float-right ion-button color="danger" float-end ion-button (click)="deletePost(post)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button float-right ion-button (click)="editPost($event, post.id)">
              <ion-icon name="create"></ion-icon>
            </button>
            <ion-list>
              <ion-item *ngFor="let com of post.comments">
                <ion-row>
                  <ion-col col-9>
                      {{com.texte}}
                  </ion-col>
                  <ion-col col-3>
                      <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{com.likes}} Likes</div>
                      </button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
            <ion-row>
              <form (ngSubmit)="addComForm(post.id, 1)">
                <ion-input type="text" [(ngModel)]="mycom.texte" name="texte" placeholder="commentaire"></ion-input>
                <button ion-button type="submit" block>Ajouter</button>
              </form>
            </ion-row>
           </ion-card-content>

         </ion-card>
       <!--<post [post]="post"></post>-->
  </ion-list>
</ion-content>
